@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

.stats_box {
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.082);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  position: relative;
  z-index: 20;
  border-radius: 32px;
}

.search_drop_shadow {
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.14));
}

/* EduTabs styles */
.react-tabs__tab--selected {
  border-bottom: 2px solid rgb(47, 154, 236) !important;
  background: transparent !important;
  font-weight: bold;
  color: rgb(18, 103, 214) !important;
  transition: all 0.3s ease-in-out;
  outline: none !important;
}

/* Card title hover */
.card-title {
  transition: color 0.2s ease-in-out;
}
.card-title:hover {
  color: #1d3557;
}

/* EduTabs text hover */
.edu-tab-btn {
  transition: color 0.2s ease-in-out;
}
.edu-tab-btn:hover {
  color: #1d3557;
}
